
---
title: Estimate Electric Car Range
description: 'Estimate the range of your electric car based on the battery capacity and the driving conditions.'
date: '07-06-2025'
slug: estimate-electric-car-range
social:
  mastodon: >-
    Looking up electric-car range left me bouncing between cluttered sites and calculators that did too much or too little. My response is a small Svelte app that estimates range from battery capacity and driving conditions.
  x: >-
    Battery capacity is only part of the range question. This small Svelte app estimates electric-car range using driving conditions too.
  linkedin: >-
    Hello, I would like to introduce a small project prompted by frustration with existing electric-car range calculators. Some felt overly complicated, others too limited, and advertisements often got in the way. My alternative estimates range from battery capacity and driving conditions in a web application built with Svelte 5, Vite and TypeScript. The post introduces the app as something to explore when thinking about a trip or an electric-car purchase, while keeping the result framed as an estimate.
categories:
  - technical
---

Hello there! 👋

<br/>

Another day, another project, another blog post. This time I want to share with you my small app that allows you to estimate the range of your electric car based on the battery capacity and the driving conditions. It is a simple web application that is built with Vite, Svelte 5, and TypeScript.

<br/>

I have got frustrated with the other websites that provide this information. They are either too complicated or too simple. Most of the time they also got advertisements and other distractions that make the experience not so pleasant. Maybe you will find it useful during the next trip or if you are planning to buy an electric car.

<br/>

👉 Check it out [here](https://mspiechowicz.github.io/estimate-electric-car-range)!

<br/>

That is it for now. Stay healthy and keep coding!

<br/>

Greetings,

Maciej
